const char *GCAL_CLIENT_ID = "your-client-id.apps.googleusercontent.com";
const char *GCAL_CLIENT_SECRET = "your-client-secret";

//To get these, run gcal.RequestInstalledAppToken();
const char *GCAL_AUTH_TOKEN = "gcal-auth-token";
const char *GCAL_REFRESH_TOKEN = "gcal-refresh-token"";
